body {
    background-color: #CDABF5;
}
main {
    padding-bottom: 520vw;
}
#special {
    color: #8315be;
}
#second_nav {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0px;
    position: fixed;
    top: 20vw;
    left: -40px;
}
.navimg {
    width: 10vw;
    height: 5vw;
    border-radius: 20px;
    border: dotted #bd6dd9 2px;
    cursor: pointer;
}
#fremhaevet {
    border: solid #bd6dd9 3px;
    position: relative;
    left: 20px;
}
h3 {
    font-size: 4vw;
    color: #FDFB86;
    font-family: 'Prata', serif;
    position: absolute;
    top: 6vw;
    left: 8vw;
}
h4 {
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 11vw;
    left: 13vw;
    font-weight: 100;
    font-family: 'Sacramento', cursive;
}
.figcaption {
    text-align: center;
    color: #FFF500;
    font-family: 'lato';
    font-size: 2vw;
    padding-bottom: 0.5vw;
}

/*--------assets--------*/

#first {
    position: absolute;
    top: 18vw;
    left: 45vw;
    width: 50vw;
    height: 28vw;
}
#first #spilsplash {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#first a {
    position: absolute;
    top: 31.3vw;
    left: 35vw;
    text-decoration: none;
    color: #794a9b;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
}
#first a:hover {
    color: #5d2f7e;
}
#lilla_pil {
    position: absolute;
    top: 31.6vw;
    left: 47vw;
    width: 10px;
    height: 15px;
}
#pitch {
    position: absolute;
    top: 57vw;
    left: 10vw;
    width: 50vw;
    font-size: 1.5vw;
    line-height: 25px;
    font-family: 'Martel Sans', sans-serif;
}
#second {
    position: absolute;
    top: 82vw;
    left: 45vw;
}
#second img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#third {
    position: absolute;
    top: 120vw;
    left: 10vw;
}
#third img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#fourth {
    position: absolute;
    top: 155vw;
    left: 45vw;
}
#fourth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#fifth {
    position: absolute;
    top: 190vw;
    left: 10vw;
}
#fifth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#sixth {
    position: absolute;
    top: 225vw;
    left: 45vw;
}
#sixth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#seventh {
    position: absolute;
    top: 261vw;
    left: 10vw;
}
#seventh img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#eighth {
    position: absolute;
    top: 297vw;
    left: 45vw;
}
#eighth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#ninth {
    position: absolute;
    top: 335vw;
    left: 10vw;
}
#ninth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#tenth {
    position: absolute;
    top: 370vw;
    left: 45vw;
}
#tenth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#eleventh {
    position: absolute;
    top: 405vw;
    left: 10vw;
}
#eleventh img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#twelfth {
    position: absolute;
    top: 440vw;
    left: 45vw;
}
#twelfth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#thirdteenth {
    position: absolute;
    top: 475vw;
    left: 10vw;
}
#thirdteenth img {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}

/*-------tablet version------*/

@media only screen and (max-width: 800px) {
    .navimg {
        width: 110px;
        height: 55px;
    }
    #knap {
        font-size: 18px;
    }
    .figcaption {
        font-size: 2.4vw;
    }
    #first a {
        font-size: 2vw;
        left: 30vw;
        top: 32vw;
    }
    #pitch {
        top: 53vw;
        left: 115px;
        width: 50vw;
        font-size: 2vw;
        line-height: 22px;
    }
    #lilla_pil {
        top: 32vw;
    }
    #second {
        top: 90vw;
        left: 45vw;
    }
    #third {
        top: 125vw;
        left: 115px;
    }
    #fourth {
        top: 160vw;
        left: 45vw;
    }
    #fifth {
        top: 193vw;
        left: 115px;
    }
    #sixth {
        top: 227vw;
        left: 45vw;
    }
    #seventh {
        left: 115px;
    }
    #ninth {
        left: 115px;
    }
    #eleventh {
        left: 115px;
    }
    #thirdteenth {
        left: 115px;
    }
}

/*----mobil version----*/

@media only screen and (max-width: 550px) {
    main {
        padding-bottom: 720vw;
    }
    h3 {
        font-size: 9vw;
        top: 3vw;
        left: 12vw;
    }
    h4 {
        font-size: 8vw;
        top: 14vw;
        left: 22vw;
    }
    .figcaption {
        font-size: 4vw;
    }
    #first {
        top: 35vw;
        left: 25vw;
        width: 70vw;
    }
    #first #spilsplash {
        width: 70vw;
        height: 40vw;
    }
    #first a {
        top: 47vw;
        left: 37vw;
        font-size: 3vw;
    }
    #lilla_pil {
        top: 47.4vw;
        left: 62.5vw;
        width: 10px;
        height: 15px;
    }
    #pitch {
        top: 89vw;
        left: 25vw;
        width: 70vw;
        font-size: 3vw;
    }
    #second {
        top: 145vw;
        left: 25vw;
    }
    #second img {
        width: 70vw;
        height: 40vw;
    }
    #third {
        top: 198vw;
        left: 25vw;
    }
    #third img {
        width: 70vw;
        height: 40vw;
    }
    #fourth {
        top: 242vw;
        left: 25vw;
    }
    #fourth img {
        width: 70vw;
        height: 40vw;
    }
    #fifth {
        top: 288vw;
        left: 25vw;
    }
    #fifth img {
        width: 70vw;
        height: 40vw;
    }
    #sixth {
        top: 334vw;
        left: 25vw;
    }
    #sixth img {
        width: 70vw;
        height: 40vw;
    }
    #seventh {
        top: 380vw;
        left: 25vw;
    }
    #seventh img {
        width: 70vw;
        height: 40vw;
    }
    #eighth {
        top: 430vw;
        left: 25vw;
    }
    #eighth img {
        width: 70vw;
        height: 40vw;
        border-radius: 20px;
    }
    #ninth {
        top: 480vw;
        left: 25vw;
    }
    #ninth img {
        width: 70vw;
        height: 40vw;
    }
    #tenth {
        top: 530vw;
        left: 25vw;
    }
    #tenth img {
        width: 70vw;
        height: 40vw;
    }
    #eleventh {
        top: 575vw;
        left: 25vw;
    }
    #eleventh img {
        width: 70vw;
        height: 40vw;
    }
    #twelfth {
        top: 620vw;
        left: 25vw;
    }
    #twelfth img {
        width: 70vw;
        height: 40vw;
    }
    #thirdteenth {
        top: 665vw;
        left: 26vw;
    }
    #thirdteenth img {
        width: 70vw;
        height: 40vw;
    }
}
