* {
    margin: 0;
    padding: 0;
}

/*------style af nav----*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}
nav {
    background-color: rgb(205, 171, 245, 50);
    padding-top: 1vw;
    padding-right: 5vw;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.7vw;
    padding-right: 3vw;
    padding-top: 1.2vw;
    float: right;
    font-family: 'Hind Siliguri', sans-serif;
}
nav a:hover {
    color: #8315be;
}
#menuknap {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    right: 4vw;
}
#navbar {
    padding-right: 5vw;
    display: contents;
}

/*--------mobil version style------*/

@media only screen and (max-width: 800px) {
    #menuknap {
        display: inline-block;
    }
    #navbar {
        display: inherit;
    }
}

/*----style af footer----*/

footer {
    background-color: #F7F4B8;
}
footer p {
    color: #D1CE82;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
#some {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 30px;
    padding-top: 20px;
}
#some img {
    width: 2.5vw;
    height: 2.5vw;
}
#hjerte {
    width: 2.3vw;
    height: 2.3vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

/*---------effekter----------*/

.hidden {
    display: none;
    transform: scale(0);
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
