body {
    background-color: #CDABF5;
}
main {
    padding-bottom: 200vw;
}
#special {
    color: #8315be;
}
#second_nav {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0px;
    position: fixed;
    top: 20vw;
    left: -40px;
}
.navimg {
    width: 10vw;
    height: 5vw;
    border-radius: 20px;
    border: dotted #bd6dd9 2px;
    cursor: pointer;
}
#fremhaevet {
    border: solid #bd6dd9 3px;
    position: relative;
    left: 20px;
}
h3 {
    font-size: 4vw;
    color: #FDFB86;
    font-family: 'Prata', serif;
    position: absolute;
    top: 6vw;
    left: 8vw;
}
h4 {
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 11vw;
    left: 13vw;
    font-weight: 100;
    font-family: 'Sacramento', cursive;
}
figcaption {
    text-align: center;
    color: #FFF500;
    font-family: 'lato';
    font-size: 2vw;
    padding-bottom: 0.5vw;
}
#first {
    position: absolute;
    top: 15vw;
    left: 45vw;
}
#first video {
    width: 50vw;
    border-radius: 20px;
}
#second {
    position: absolute;
    top: 55vw;
    left: 10vw;
}
#second #redesign {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#second a {
    position: absolute;
    top: 31.8vw;
    left: 32vw;
    text-decoration: none;
    color: #794a9b;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
}
#second a:hover {
    color: #5d2f7e;
}
#lilla_pil {
    position: absolute;
    top: 32vw;
    left: 44vw;
    width: 0.8vw;
    height: 1.5vw;
}
#lilla_pil2 {
    position: absolute;
    top: 32vw;
    left: 45.5vw;
    width: 0.8vw;
    height: 1.5vw;
}
#third {
    position: absolute;
    top: 95vw;
    left: 45vw;
}
#third img {
    width: 50vw;
    height: 31vw;
    border-radius: 20px;
}
h6 {
    padding-top: 0.5vw;
    color: white;
    font-size: 1.6vw;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}
#third p {
    width: 50vw;
    font-size: 1.5vw;
    line-height: 23px;
    font-family: 'Martel Sans', sans-serif;
}
#fourth {
    position: absolute;
    top: 162vw;
    left: 10vw;
}
#fourth #dokumentation {
    width: 50vw;
    height: 28vw;
    border-radius: 20px;
}
#fourth figcaption {
    width: 50vw;
}
#fourth a {
    position: absolute;
    top: 31.8vw;
    left: 23vw;
    text-decoration: none;
    color: #794a9b;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
}
#fourth a:hover {
    color: #5d2f7e;
}
#fourth #lilla_pil {
    left: 46vw;
}

/*------tablet version----*/

@media only screen and (max-width: 800px) {
    main {
        padding-bottom: 250vw;
    }
    .navimg {
        width: 110px;
        height: 55px;
    }
    figcaption {
        font-size: 2.4vw;
    }
    #second a {
        top: 32vw;
        left: 27vw;
        font-size: 2vw;
    }
    #fourth a {
        top: 32vw;
        left: 14vw;
        font-size: 2vw;
    }
    #second {
        top: 55vw;
        left: 115px;
    }
    #fourth {
        position: absolute;
        top: 200vw;
        left: 115px;
    }
    h6 {
        font-size: 2.4vw;
    }
    #third p {
        font-size: 2.3vw;
    }
    #lilla_pil2 {
        position: absolute;
        top: 32.5vw;
        left: 46vw;
        width: 1vw;
        height: 1.8vw;
    }
    #lilla_pil {
        position: absolute;
        top: 32.5vw;
        left: 44vw;
        width: 1vw;
        height: 1.8vw;
    }
}

/*----mobil version----*/

@media only screen and (max-width: 600px) {
    main {
        padding-bottom: 350vw;
    }
    h3 {
        font-size: 9vw;
        top: 3vw;
        left: 12vw;
    }
    h4 {
        font-size: 8vw;
        top: 14vw;
        left: 22vw;
    }
    figcaption {
        font-size: 4vw;
    }
    #first {
        top: 35vw;
        left: 25vw;
    }
    #first video {
        width: 70vw;
    }
    #second {
        top: 85vw;
        left: 25vw;
    }
    #second #redesign {
        width: 70vw;
        height: 40vw;
        border-radius: 20px;
    }
    #second a {
        top: 46.5vw;
        left: 37vw;
        font-size: 3vw;
    }
    #third {
        top: 140vw;
        left: 25vw;
    }
    #third img {
        width: 70vw;
        height: 40vw;
    }
    h6 {
        font-size: 3.5vw;
    }
    #third p {
        width: 70vw;
        font-size: 3vw;
    }
    #fourth {
        top: 275vw;
        left: 25vw;
    }
    #fourth #dokumentation {
        width: 70vw;
        height: 40vw;
    }
    #fourth figcaption {
        width: 50vw;
    }
    #fourth a {
        top: 48vw;
        left: 16vw;
        font-size: 3vw;
    }
    #lilla_pil {
        top: 47vw;
        left: 62vw;
        width: 1.7vw;
        height: 2.5vw;
    }
    #lilla_pil2 {
        top: 48.7vw;
        left: 64vw;
        width: 1.7vw;
        height: 2.5vw;
    }
}
