body {
    background-color: #CDABF5;
}
main {
    padding-bottom: 125vw;
}
#special {
    color: #8315be;
}
#second_nav {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0px;
    position: fixed;
    top: 20vw;
    left: -40px;
    z-index: 1;
}
.navimg {
    width: 10vw;
    height: 5vw;
    border-radius: 20px;
    border: dotted #bd6dd9 2px;
    cursor: pointer;
}
#fremhaevet {
    border: solid #bd6dd9 3px;
    position: relative;
    left: 20px;
}
h3 {
    font-size: 4vw;
    color: #FDFB86;
    font-family: 'Prata', serif;
    position: absolute;
    top: 6vw;
    left: 8vw;
}
h4 {
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 11vw;
    left: 13vw;
    font-family: 'Sacramento', cursive;
    font-weight: 100;
}
.figcaption {
    text-align: center;
    color: #FFF500;
    font-size: 2vw;
    padding-bottom: 0.5vw;
    font-family: 'Lato', sans-serif;
}
.scrollpic {
    width: 50vw;
    height: 30vw;
    overflow: scroll;
    border-radius: 15px;
}
#sitev2 {
    width: 50vw;
    height: 219vw;
}
#first {
    position: absolute;
    top: 13vw;
    left: 45vw;
}
#first a {
    position: absolute;
    top: 33.8vw;
    left: 35vw;
    text-decoration: none;
    color: #794a9b;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
}
#first a:hover {
    color: #5d2f7e;
}
#lilla_pil {
    position: absolute;
    top: 34vw;
    left: 46.2vw;
    width: 0.8vw;
    height: 1.5vw;
}
#lilla_pil2 {
    position: absolute;
    top: 34vw;
    left: 46.2vw;
    width: 0.8vw;
    height: 1.5vw;
}
#moodboard {
    width: 50vw;
    height: 26vw;
    border-radius: 15px;
}
#second {
    position: absolute;
    top: 50vw;
    left: 10vw;
}
#styletile {
    width: 50vw;
    height: 90vw;
}
#third {
    position: absolute;
    top: 83vw;
    left: 45vw;
}
#third a {
    position: absolute;
    top: 33.8vw;
    left: 35vw;
    text-decoration: none;
    color: #794a9b;
    font-weight: 400;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
}
#third a:hover {
    color: #5d2f7e;
}

/*-------tablet version----*/

@media only screen and (max-width: 800px) {
    h3 {
        font-size: 5vw;
        top: 3vw;
        left: 8vw;
    }
    h4 {
        font-size: 5vw;
        top: 8vw;
        left: 13vw;
    }
    .navimg {
        width: 110px;
        height: 55px;
    }
    .figcaption {
        font-size: 2.4vw;
    }
    #first a,
    #third a {
        font-size: 2vw;
        left: 30vw;
        padding-top: 0.2vw;
    }
    #lilla_pil {
        padding-top: 0.2vw;
        width: 1.2vw;
        height: 2vw;
    }
    #second {
        left: 100px;
    }
}

/*------mobil version--------*/

@media only screen and (max-width: 550px) {
    main {
        padding-bottom: 220vw;
    }
    h3 {
        font-size: 9vw;
        top: 3vw;
        left: 12vw;
    }
    h4 {
        color: white;
        font-size: 8vw;
        position: absolute;
        top: 14vw;
        left: 22vw;
    }
    .figcaption {
        font-size: 4vw;
    }
    #first {
        position: absolute;
        top: 36vw;
        left: 24vw;
    }
    #first a {
        top: 47vw;
        left: 35vw;
        font-size: 3.7vw;
    }
    #lilla_pil {
        position: absolute;
        top: 47.5vw;
        left: 64.5vw;
        width: 2vw;
        height: 3.4vw;
    }
    #sitev2 {
        width: 70vw;
        height: 306vw;
    }
    #second {
        position: absolute;
        top: 93vw;
        left: 24vw;
    }
    #moodboard {
        width: 70vw;
        height: 40vw;
        border-radius: 15px;
    }
    #styletile {
        width: 70vw;
        height: 110vw;
    }
    #third {
        position: absolute;
        top: 145vw;
        left: 24vw;
    }
    #third a {
        top: 47vw;
        left: 35vw;
        font-size: 3.7vw;
    }
    #lilla_pil2 {
        top: 47.8vw;
        left: 65vw;
        width: 2vw;
        height: 3.4vw;
    }
    .scrollpic {
        width: 70vw;
        height: 40vw;
        overflow: scroll;
        border-radius: 15px;
    }
}

/*-------animationer-----*/

.fade {
    animation-name: fade_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes fade_kf {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
